@use "../configs" as *;

.ly_globalFooter {
  padding-left: 5vw;
  padding-right: 5vw;
}

.ly_globalFooter_inner {
  max-width: 1600px;
  background-color: $color-gray-100;
  border-radius: min(vw("xs", 40), 80px) min(vw("xs", 40), 80px) 0 0;
  padding-top: min(vw("xs", 48), 64px);
  padding-bottom: min(vw("xs", 24), 40px);
  padding-left: 5vw;
  padding-right: 5vw;
}

.bl_gf_main {
  padding-left: min(vw('xs', 16), 16px);
  padding-right: min(vw('xs', 16), 16px);
  padding-bottom: min(vw('xs', 24), 32px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: min(vw('xs', 24), 32px);
  border-bottom: solid 1px $color-gray-300;
  gap: min(vw("xs", 32), 24px);
  @include mq(md) {
    flex-direction: row;
  }
}

.bl_gf_prodlogo {
  width: min(50vw, 180px);
  @include mq(md) {
    width: min(28%, 274px);
  }
}

.bl_gf_contact {
  a {
    display: inline-flex;
    width: fit-content;
    align-items: center;
    font-weight: 700;
    text-decoration: none;
    color: $color-gray-900;
    background-color: $color-thema-yellow-100;
    gap: 8px;
    padding: 8px 8px 8px 24px;
    border-radius: 100px;
    &::after {
      display: block;
      content: "";
      flex: 0 0 32px;
      width: 32px;
      height: 32px;
      overflow: hidden;
      border: solid 1px $color-gray-200;
      border-radius: 50%;
      background: $color-white
        url("/assets/images/icon_angle_right_gray900.svg") no-repeat center
        center;
      background-size: 50% auto;
    }
  }
}

.bl_gf_aside {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: min(vw('xs', 16), 16px);
  padding-right: min(vw('xs', 16), 16px);
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
}

.bl_gf_copyright {
  font-family: $font-family-roboto;
  font-weight: 300;
  color: $color-gray-600;
}

.bl_gf_corplogo {
  width: min(40%, 140px);
}