@use "../configs" as *;

body.is_modalOpen {
  height: 100dvh;
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.bl_modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* 他の要素より前面に */
}

.bl_modal_content {
  background-color: white;
  padding: min(vw('xs', 16), 64px);
  border-radius: min(vw('xs', 24), 48px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  width: min(90%, 1000px);
  max-height: 95dvh;
  overflow-y: auto;
  position: relative; /* close button positioning */
}

.bl_modal_close {
    margin-top: 24px;
    position: sticky;
    display: block;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    button {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 180px;
      height: 40px;
      background: $color-gray-900;
      border-radius: 20px;
      border: none;
      cursor: pointer;
      appearance: none;
    }
}

/* Transition Styles (Optional, for animation) */
.bl_modal_overlay.fade-enter-active,
.bl_modal_overlay.fade-leave-active {
  transition: opacity 0.3s ease;
}
.bl_modal_overlay.fade-enter-from,
.bl_modal_overlay.fade-leave-to {
  opacity: 0;
}

.bl_modal_content.slide-enter-active,
.bl_modal_content.slide-leave-active {
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}

.bl_modal_content.slide-enter-from,
.bl_modal_content.slide-leave-to {
  transform: translateY(-20px); /* Start slightly above */
  opacity: 0;
}

.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-wrapper {
  height: calc(100% - 52px);
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* -- feature -- */
.ly_featModal_header {
  display: flex;
  align-items: center;
  gap: 8px;
  line-height: 1.3;
  margin-bottom: 1.5rem;
  i {
    flex-direction: 0 0 min(vw('xs', 40), 56px);
    width: min(vw('xs', 40), 56px);
  }
  h2 {
    margin: 0;
    font-size: min(vw('xs', 18), 32px);
    font-weight: 900;
  }
}

