@use "../configs" as *;

.ly_spec {
  padding-top: min(vw("xs", 48), 96px);
  padding-bottom: min(vw("xs", 48), 96px);
}

.un_spec_list {
  display: flex;
  flex-direction: column;
  gap: min(vw("xs", 16), 24px);
  text-align: center;
  justify-content: center;
  @include inner();
  @include mq(md) {
    flex-direction: row;
    gap: min(vw("md", 8), 32px);
  }
}

.un_spec_item {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 365px;
  align-items: center;
  padding: min(vw("xs", 20), 32px);
  border-radius: min(vw("xs", 20), 32px);
  @include mq-down(md) {
    margin-left: auto;
    margin-right: auto;
    background-color: $color-gray-50;
  }
}

.un_spec_item__ocba {
  background-color: $color-gray-100;
}

.un_spec_itemName {
  margin-bottom: 8px;
  font-size: min(vw("xs", 20), 24px);
  font-weight: 900;
  line-height: 1.3;
  @include mq(md) {
    font-size: min(vw("md", 20), 24px);
  }
  &::after {
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    content: "";
    width: 56px;
    height: 1px;
    background-color: $color-gray-500;
    overflow: hidden;
  }
}

.un_spec_itemSeries {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
  font-family: $font-family-roboto;
  font-weight: 500;
  strong {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.3333333333333333em;
    font-weight: 800;
  }
}

.un_spec_itemPoints {
  display: flex;
  padding-left: 0;
  margin-top: auto;
  margin-bottom: auto;
  flex-direction: column;
  text-align: left;
  list-style: none;
  line-height: 1.3;
  font-size: min(vw("xs", 14), 16px);
  gap: 1em;
  li {
    position: relative;
    padding-left: calc(1.125em + 8px);
    &::before {
      position: absolute;
      left: 0;
      top: calc((1.3em - 1.125em) / 2);
      display: flex;
      content: "　";
      align-items: baseline;
      line-height: 1;
      flex: 0 0 1.125em;
      width: 1.125em;
      height: 1.125em;
      overflow: hidden;
      background: url("/assets/images/spec_icon_check.svg") no-repeat center
        center;
      background-size: contain;
    }
  }
}

.un_spec_itemBtn {
  margin-top: 1.5rem;
  button {
    display: inline-flex;
    width: fit-content;
    align-items: center;
    font-weight: 700;
    text-decoration: none;
    color: $color-thema-yellow-100;
    background-color: $color-gray-950;
    gap: 8px;
    padding: 8px 8px 8px 24px;
    border-radius: 100px;
    appearance: none;
    @include mq(md) {
      font-size: min(vw("md", 14), 18px);
    }
    &::after {
      display: block;
      content: "";
      flex: 0 0 32px;
      width: 32px;
      height: 32px;
      overflow: hidden;
      border-radius: 50%;
      background: $color-white;
    }
  }
}
